.blog{
    padding: 60px 0 100px;
    &-inner{
        display: flex;
        justify-content: space-between;
    }
    &-category{
        margin-bottom: 36px;
        &-title{
            color:$title;
            @extend %title-font;
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 15px;
        }
        &-item{
            margin-bottom: 12px;
        }
    }
}
.aside{
    width: 350px;
    margin-left: 30px;
    &__search{
        position: relative;
        margin-bottom: 40px;
    }
    &__search-input{
        display: block;
        width: 100%;
        border-radius: 20px;
        padding: 6px 56px 6px 18px;
        border: 1px solid rgba(56, 54, 54, .7);
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
	        font-size: 14px;
	        line-height: 27px;
	        font-weight: 400;
	        color: #A1A1A1;
        }
    }
    &__search-btn{
        border: none;
        background-color: transparent;
        position: absolute;
        top:12px;
        right: 19px;
        cursor: pointer;
    }
}
.resent-post{
    margin-bottom: 40px;
    &__title{
        color:$title;
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 15px;
    }
    &__item{
        margin-bottom: 11px;
    }
    &__item-title{
        display: block;
    }
    &__item-date,
    &__item-author{
        font-size: 14px;
        color: #A1A1A1;
    }
    &__item-date{
        position: relative;
        margin-right: 14px;
        &::before{
            content: '';
            width: 1px;
            height: 17px;
            background-color: #A1A1A1;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:-9px;
        }
    }
}
.blog__tags{
    margin-bottom: 50px;
    &-title{
        color:$title;
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 15px;
    }
    &-link{
        display: inline-block;
       color:#8F8D8D;
       font-weight: 600;
       font-size: 14px;
       padding: 0 16px;
       margin-bottom: 10px;
       margin-right: 2px;
       border: 1px solid rgba(69, 70, 71, .5);
       border-radius: 14px;
    }
}
.blog__social{
    display: flex;
    gap: 20px;
    align-items: center;
}