.contact{
    margin-bottom: 100px;
    min-height: 0;
    min-width: 0;
    &__title{
        color:$title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        position: relative;
        padding-bottom: 25px;
        margin-bottom: 40px;

        &::after{
            content: '';
            width: 200px;
            height: 1px;
            background: #979797;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    .contact__social{
        display: flex;
        padding-left: 284px;
        margin-bottom: 21px;
    }
    &__social-item{
        &:not(:last-child){
            margin-right: 38px;
        }
    }
    &__box{
        padding-left: 284px;
    }
    &__text{
        margin-bottom: 10px;
        color: #A1A1A1;
    }
    &__city{
        margin-bottom: 16px;
    }
    &__form{
        padding-left: 284px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__from-input{
        width: 49.3%;
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        &:first-child{
            margin-right: 11px;
        }
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
	        font-size: 16px;
	        line-height: 27px;
	        font-weight: 400;
	        color: #A1A1A1;
        }
    }
    &__from-area{
        width: 100%;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        resize: none;
        padding: 14px 17px;
        min-height: 125px;
        margin-top: 13px;
        margin-bottom: 20px;
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
	        font-size: 16px;
	        line-height: 27px;
	        font-weight: 400;
	        color: #A1A1A1;
        }
    }
    &__from-btn{
        background-color: $title;
        color:#fff;
        border: none;
        padding: 6px 12px;
        min-width: 157px;
        border-radius: 21px;
        font-weight: 600;
        cursor: pointer;
    }
}
.contact-slider{
    padding-bottom: 102px;
    &__link{
        margin-bottom: 35px;
        position: relative;
        overflow: hidden;
        &:hover{
            .contact-slider__title{
                transform: translateY(0%);
            }
        }
    }
    &__img{
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
    &__title{
        position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(-100%);
		background-color: rgba($color: #fff, $alpha: .7);
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: transform .5s ease;
        color:$title;
        @extend %title-font;
        line-height: 22px;
    }
}