.header{
    font-family: 'Montserrat', sans-serif;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
    }
}
.menu{
    padding-left: 35px;
    padding-right: 60px;
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 80px;
    }
    &__list-link{
        @extend %title-font;
        line-height: 22px;
        font-size: 16px;
        color: rgba(54, 56, 56, 0.9033);
        transition: color .2s ease;
        &:hover{
            color: rgba(54, 56, 56, 1);
        }
    }
    .menu__list-link--active{
        padding-bottom: 4px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height:2px;
            border-radius: 1px;
            background: rgba($color: $title, $alpha: .7);
        }
    }
}
.logo{
    margin: 0 auto;
}